<!DOCTYPE html>
<html data-ng-app="scape" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= app.title %></title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="node.js, express, mongoose, mongodb, angularjs">
    <meta name="description" content="Creative Learning">
    <link href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta property="fb:app_id" content="APP_ID">
    <meta property="og:title" content="<%= app.title %>">
    <meta property="og:description" content="<%= app.description %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= app.url %>">
    <meta property="og:image" content="<%= app.logo %>">
    <meta property="og:site_name" content="<%= app.name %>">
    <meta property="fb:admins" content="<%= app.admins %>">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/lib/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/lib/jquery.splitter/css/jquery.splitter.css">
    <link rel="stylesheet" href="/css/app.css">
    <!--[if lt IE 9]>
      <script src="/lib/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <div class="navbar-brand"><span class="fa fa-envelope"></span> <%= app.name %> - <%= app.description %></div>
      </div>
    </div>
    
    <section class="" data-ng-controller="EditorController">
      <div class="fill-height split-vertical">
        <div>
          <div style="padding-left:15px;padding-right:6px">
            <!-- FIXME ui-codemirror doesn't work within custom directives -->
            <div class="pull-right" data-ng-show="editor == 'html'">
              <label for="template">Template:</label>
              <select name="template" data-ng-model="template" 
                  data-ng-options="value for value in templates"></select>
            </div>
            <div class="pull-right" data-ng-show="editor == 'css'">
              <label for="style">Template:</label>
              <select name="style" data-ng-model="style" 
                  data-ng-options="value for value in styles"></select>
            </div>
            <tabset>
              <tab heading="HTML" select="setEditor('html')"></tab>
              <tab heading="CSS" select="setEditor('css')"></tab>
              <tab heading="Text" select="setEditor('text')"></tab>
            </tabset>
            <div class="fill-height">
              <div id="html-editor" data-ui-codemirror="editorOptions" data-ng-model="content[editor]"></div>
            </div>
          </div>
        </div>
        <div>
          <div style="padding-right:15px;padding-left:6px">
            <tabset>
              <tab heading="Desktop" select="setPreview('desktop')"></tab>
              <tab heading="iPhone 5" select="setPreview('iphone5')"></tab>
            </tabset>
            <div class="fill-height">
              <div data-preview="{{preview}}" data-ng-model="content"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- CodeMirror -->
    <script type="text/javascript" src="/lib/codemirror/lib/codemirror.js"></script>
    <script src="/lib/codemirror/addon/hint/show-hint.js"></script>
    <script src="/lib/codemirror/addon/hint/xml-hint.js"></script>
    <script src="/lib/codemirror/addon/hint/html-hint.js"></script>
    <script src="/lib/codemirror/mode/xml/xml.js"></script>
    <script src="/lib/codemirror/mode/javascript/javascript.js"></script>
    <script src="/lib/codemirror/mode/css/css.js"></script>
    <script src="/lib/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    
    <!--AngularJS-->
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <!--Angular UI-->
    <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/lib/angular-ui-codemirror/ui-codemirror.js"></script>
    <!--jQuery-->
    <script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/jquery.splitter/js/jquery.splitter-0.13.0.js"></script>
    <!--Application-->
    <script type="text/javascript" src="/js/app.js"></script>
    <!--Livereload script rendered -->
    <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
    
    <script>
    /* FIXME: This could use some cleanup */

    function resizeFrame() {
      var bodyHeight = $("body").innerHeight();
      $(".fill-height").each(function(index) {
        var height = bodyHeight - $(this).offset().top - 15;
        $(this).css("height", String(height) + "px");
        $(this).css("overflow-y", "auto");
      });
    }
    
    $.event.add(window, "load", resizeFrame);
    $.event.add(window, "resize", resizeFrame);
    $(document).ready(function () {
      $('.split-vertical').split({
        orientation: 'vertical',
        limit: 350,
        position: '50%',
        onDrag: function(e) {
        	resizeFrame();
        }
      });
    });

    </script>
    
  </body>
</html>